.productItem{
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;

}

.productItemButton{
    background-color: rgb(87, 116, 247);
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    align-self: flex-start;
    color: white;
    cursor: pointer;
}

.productDetailsButton{
    background-color: rgb(87, 116, 247);
    padding: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    align-self: flex-start;
    color: white;
    cursor: pointer;
}
  